<nav class="navbar navbar-expand-lg navbar-dark bgnavbarpp">
    <a class="navbar-brand" href="#">Escolar System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item menuText active mr-3">
                <a class="nav-link" href="#"><i class="fas fa-home mr-1"></i> Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link menuText" href="/listaDocentes"><i class="fas fa-user-graduate mr-1"></i> Registrar Docentes</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link menuText" href="/listaAsignaturas"><i class="fas fa-book-open mr-1"></i> Registrar Asignaturas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menuText" href="/listaCarga"><i class="fas fa-chalkboard-teacher mr-1"></i> Asignar Carga Académica</a>
            </li>
        </ul>
    </div>
</nav>
