<app-welcome></app-welcome>

<button class="btn btn-secondary" (click)="loadDataDocente(docenteId)">Cargar datos actuales</button>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form>
                <div class="row border p-3 border-dark bg-secondary">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="codigo">Codigo</label>
                            <input type="text" class="form-control" id="codigo" placeholder="Codigo" value="{{objeto.codigo}}" [(ngModel)]="objeto.codigo" name="codigo">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" value="{{objeto.apellido}}" [(ngModel)]="objeto.apellido" name="apellido">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nombres">Nombres</label>
                            <input type="text" class="form-control" id="nombres" placeholder="Nombres" value="{{objeto.nombre}}" [(ngModel)]="objeto.nombre" name="nombre">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="correo">Correo</label>
                            <input type="text" class="form-control" id="correo" placeholder="Correo" value="{{objeto.correo}}" [(ngModel)]="objeto.correo" name="correo">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" class="form-control" id="telefono" placeholder="Telefono" value="{{objeto.telefono}}" [(ngModel)]="objeto.telefono" name="telefono">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Direccion" value="{{objeto.direccion}}" [(ngModel)]="objeto.direccion" name="direccion">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button (click)="updateDocente(docenteId, objeto.codigo, objeto.apellido, objeto.nombre, objeto.correo, objeto.telefono, objeto.direccion)" class="btn btn-primary ">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
